body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: peachpuff;
    background-image: url("about-surat.png");
    color: brown;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: maroon;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.service {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #e435b31a;
}

.service h2 {
    margin-top: 0;
}

.service p {
    margin-bottom: 0;
}
